@{
    ViewBag.Title = "Home Page";
}


<div>

    <div class="jumbotron">
        <h1>ASP.NET Playground</h1>
        <p class="lead ">This site was a practice playground for learning some new techniques involving Code First Migration, T-SQL, JQuery, Ajaxs Bootstrap, Typeahead, Toastr, Web Api and Postman.</p>
    </div>

    <div class="row">
        <div class="col-md-4" style="background-color: whitesmoke;">
            <h2>Customers</h2>
            <p>
                The customers Tab changes depending on your login. For not admins it will display names and membershiptypes. Admins have full access to delete
                and add new customers.
            </p>
        </div>
        <div class="col-md-4" style="background-color: whitesmoke;">
            <h2>Movies</h2>
            <p>The movies tab will allow you to see the quantity in stock and search movies in the t-sql database by title and genre. Admins can add and delete movies. </p>
        </div>
        <div class="col-md-4" style="background-color: whitesmoke;">
            <h2>New Rental</h2>
            <p>New rentals can only be done by an admin. Must be loged on with admin@gmail.com Pass_1234 to screw everything up!</p>
        </div>
    </div>
</div>