@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <lable>Movie</lable>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="col-md-4" > 
        <ul id="movies" class="form-group"></ul>
    </div>


    <button class="btn btn-primary">Submit</button>

</form>

@section scripts
{

<script>

    $(document).ready(function () {

        var rentalVM = {
            movieIds: []
        };

        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead(
            {
                minLength: 1,
                highlight: true
            }, {
                name: 'customer',
                display: 'name',
                limit: 10,
                source: customers
            }).on("typeahead:select", function (e, customer) {
                rentalVM.customerId = customer.id;
            });


        

        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#movie').typeahead(
            {
                minLength: 1,
                highlight: true
            }, {

                limit: 10,
                name: 'movies',
                display: 'name',
               
            source: movies
            }).on("typeahead:select", function (e, movie) {
                //React should be used for DOM edits
                $("#movies").append("<li class='list-group-item'>" + movie.name + "<button>remove</button></li>");
                $("#movies").typeahead("val", "");
                rentalVM.movieIds.push(movie.id);
            });
        $("#newRental").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/api/movieRental",
                method: "post",
                data: rentalVM
            })

                .done(function () {
                    toastr.success("Rentals successfully posted")
                })
                .fail(function () {
                    toastr.error("nope")
                });
        });
    });
</script>    
    
}
