@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental</h2>

<form action="">
    <div class="form-group">
        <label>Customer</label>
        <div class="customer"><input id="customer" type="text"  class="form-control"/></div>
        
    </div>
    <div class="form-group movie">
        <lable>Movie</lable>
        <input id="movie" type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/ Scripts / typeahead.bundle.js")
<script>


        var customerVM = {};

        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead(null, {
            name: 'customer',
            display: 'name',
            source: customers
        });


</script>    
    
}
