@model  IEnumerable<Vidly.Models.Customer>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div class="">
    <table  id="customer-table" class="table table-bordered table-hover nowrap table-responsive-sm" style="width: 100%"  >
        <thead >
            <tr>
                <th>Customers</th>
                <th style="white-space: normal !important">Membership Type</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody class="table-sm">
            @*@foreach (var customer in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                        <td>@customer.MembershipType.Name</td>
                        <td class="text-center">
                            <button data-customer-name="@customer.Name" data-customer-id="@customer.Id" class="btn-link jq-delete">Delete</button>
                        </td>
                    </tr>
            }*@
        </tbody>
    </table>
</div>
        
    


@section scripts
{
    <script>
        //
        // This script takes the current row's customer asks for comfirmation on deletion
        // If deleted adds an animation class to the row and removes it after a delay.
        //
        $(document).ready(function () {
           var table = $("#customer-table").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, customer) {
                            return "<div class='text-center'>" +
                                "<button data-customer-name='" + customer.name +
                                "'data-customer-id='" + data +
                                "'class='btn btn-link jq-delete'>Delete</button>" + "</div>"
                        }
                    }
                ]
            });
            
            $("#customer-table").on("click", ".jq-delete", function () {
                var customerName = $(this).attr("data-customer-name");
                var customerId = $(this).attr("data-customer-id");
                var button = $(this);

                bootbox.confirm("Confirm deletion of " + customerName, function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + customerId,

                            // Leaving delete blank to continue testing
                            // Replace with "" -> "DELETE" 

                            method: "",
                            success: function () {
                                setTimeout(function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }, 1400);
                                button.removeClass("jq-delete").parents("tr").addClass("delete-row");     
                            }
                        });
                    }
                });
            });
        });
    </script>
}

