

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: rgb(251,123,123);
}

.input-validation-error {
    border-color: rgba(221, 0, 0, 0.10);
    box-shadow: 0 0 5px rgba(252, 3, 3, 0.3), inset 0 0 5px rgba(252, 3, 3, 0.10), 0 2px 0 rgba(199, 28, 34, 0.058);
    outline: none;
    animation: glow 200ms ease-out alternate forwards 4;
}

.input-validation-error {
    color: #495057;
    background-color: #fff;
    border-color: #a1d6f4;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
}








  


